
[submodule "WOTC_SRD/SRD5_OGL1.1/Melek_Simple_5e/framework"]
	path = WOTC_SRD/SRD5_OGL1.1/Melek_Simple_5e/framework
	url = git@github.com:melek/Simple5e
[submodule "WOTC_SRD/SRD5_OGL1.1/Melek_Simple_5e/addons/Bobifle_Dropin_5e_for_melek"]
	path = WOTC_SRD/SRD5_OGL1.1/Melek_Simple_5e/addons/Bobifle_Dropin_5e_for_melek
	url = git@github.com:bobifle/tokens
[submodule "WOTC_SRD/SRD5_OGL1.1/Melek_Simple_5e/addons/Merudo_spell-library_for_melek"]
	path = WOTC_SRD/SRD5_OGL1.1/Melek_Simple_5e/addons/Merudo_spell-library_for_melek
	url = git@github.com:merudo/spell-library
[submodule "WOTC_SRD/SRD5_OGL1.1/Takehara_5e/framework"]
	path = WOTC_SRD/SRD5_OGL1.1/Takehara_5e/framework
	url = git@github.com:rtakehara/5e-framework
[submodule "WOTC_SRD/SRD5_OGL1.1/Illydth_imcMonsterCreator"]
	path = WOTC_SRD/SRD5_OGL1.1/Illydth_imcMonsterCreator
	url = git@github.com:Illydth/imcMonsterCreator
[submodule "WOTC_SRD/SRD5_OGL1.1/Illydth_issSpellStates"]
	path = WOTC_SRD/SRD5_OGL1.1/Illydth_issSpellStates
	url = git@github.com:Illydth/issSpellStates
[submodule "Macro_Tools/MT_textmate_bundle"]
	path = Macro_Tools/MT_textmate_bundle
	url = git@github.com:wwmoraes/MapTool.tmbundle
[submodule "remission_campaign_fr"]
	path = Unsorted_frameworks/remission_campaign_fr
	url = git@github.com:JimmyLefevre/remission-maptool-campaign
[submodule "Macro_Tools/Beekips_5e_macros"]
	path = Macro_Tools/Beekips_5e_macros
	url = git@github.com:Beebkips/maptool-5e-macros
[submodule "Macro_Tools/MT_Sublime_addon"]
	path = Macro_Tools/MT_Sublime_addon
	url = git@github.com:wwmoraes/sublime-maptool-syntax
[submodule "Macro_Tools/MT_custom_dicechecks"]
	path = Macro_Tools/MT_custom_dicechecks
	url = git@github.com:charlweed/maptool_custom_dicechecks
[submodule "Random_tools/MT_Github_integration"]
	path = Random_tools/MT_Github_integration
	url = git@github.com:tdue21/maptoolintegration
[submodule "Macro_Tools/Maptools-HoM"]
	path = Macro_Tools/Maptools-HoM
	url = git@github.com:jonathanjacobs/maptools-HoM
[submodule "Unsorted_Frameworks/battle_of_chaos_unofficial"]
	path = Unsorted_Frameworks/battle_of_chaos_unofficial
	url = git@github.com:fenghou1st/BattleOfChaos-MapTool-LibToken
[submodule "Random_tools/MT_1.3.b89_plugin_adder"]
	path = Random_tools/MT_1.3.b89_plugin_adder
	url = git@github.com:lordashes/maptool-1.3.b89-plugin
[submodule "Random_tools/MT_code+assets"]
	path = Random_tools/MT_code+assets
	url = git@github.com:charlweed/dandddads
[submodule "Token_tools/Hero_Lab_Token_creator"]
	path = Token_tools/Hero_Lab_Token_creator
	url = git@github.com:esalarc/herolabtokencreator
[submodule "Macro_Tools/Heavyduck_Macro_maker"]
	path = Macro_Tools/Heavyduck_Macro_maker
	url = git@github.com:wjrogers/heavyduck.dnd.macromaker
[submodule "MT_Modded_versions/MT_Card_Game_edition/LordAshes_MT1.3.b89_CGE"]
	path = MT_Modded_versions/MT_Card_Game_edition/LordAshes_MT1.3.b89_CGE
	url = git@github.com:LordAshes/MapTool-1.3.b89-CCG
[submodule "WOTC_SRD/Pathfinder_SRD/Dimencia_Character_sheet"]
	path = WOTC_SRD/Pathfinder_SRD/Dimencia_Character_sheet
	url = git@github.com:Dimencia/D-s-Maptool-Character-Sheet-for-Pathfinder
[submodule "WOTC_SRD/pf1e_srd3.5/frameworks/Adventuremagic123_pf1e+3.5_framework"]
	path = WOTC_SRD/pf1e_srd3.5/frameworks/Adventuremagic123_pf1e+3.5_framework
	url = git@github.com:adventuremagic123/PF1e-And-3.5-Framework-For-MapTool
[submodule "macro_tools/Greyhawk_macros"]
	path = macro_tools/Greyhawk_macros
	url = git@github.com:ecyclops/greyhawk
[submodule "Pinnacle_entertainment/savage_worlds_ae/frameworks/scottbert"]
	path = Pinnacle_entertainment/savage_worlds_ae/frameworks/scottbert
	url = git@github.com:scottbert85/swmaptool
[submodule "Modiphius_games/Fallout_RPG/pousilas_framework"]
	path = Modiphius_games/Fallout_RPG/pousilas_framework
	url = git@github.com:poutsilas/falloutpnp
[submodule "Greyhawk_macros"]
	path = Macro_Tools/Greyhawk_macros
	url = git@github.com:ecyclops/greyhawk
[submodule "juan286_maptoolsmacros_es"]
	path = Macro_Tools/juan0286_maptoolmacros_es
	url = git@github.com:juan0286/maptoolsmacros
[submodule "charlweed_custom_weapontables"]
	path = random_tools/charlweed_custom_weapontables
	url = git@github.com:charlweed/maptool_custom_weapontables
[submodule "melek_CustomCounters"]
	path = Random_tools/melek_CustomCounters
	url = git@github.com:melek/customcounters
[submodule "BBOR_4e_framework"]
	path = Unsorted_frameworks/BBOR_4e_framework
	url = https://github.com/bbor/maptool-4e
